<div class="row margin" >
    <div class="col-xs-12">
        <div class="col-md-10 col-md-10 col-xs-10">
<form [formGroup]="loginFirebaseAccountForm" (ngSubmit)="onSubmit(loginFirebaseAccountForm.value)">
        <div>
            <div [class.error]="!email.valid && email.touched">Email address</div>
            <input type="text" name="email" value="" formControlName="email"/>
            <!--
            Email not requiured-->
        </div>
        <div *ngIf="email.hasError('required') && email.touched" class="error">* Email is required.</div>
        <div *ngIf="email.hasError('isValid') && email.touched" class="error">* Enter a valid email address.</div>
        <div>
            <div [class.error]="!password.valid && password.touched">Password</div>
            <input type="password" name="password" value="" formControlName="password"/>
        </div>
        <div *ngIf="password.hasError('required') && password.touched" class="error">* Password is required.</div>
        <div *ngIf="password.hasError('minlength') && password.touched" class="error">* Minimum password length is 5.</div>
        <br/><br/>
        <button type="submit" class="custom-button" [disabled]="!loginFirebaseAccountForm.valid" block>Sign in</button>
        <br/>

    </form>

            <button (click)="register()">
            <!--<ion-icon name='flame'></ion-icon>-->
            Register a firebase account</button>
        <div padding>
            <!--<img src="assets/images/firebase.png" />-->
            <div>
                <div>
                    Built on Firebase
                </div>
                <p>
                    Create a Firebase profile for free and use your email and password to sign in to Forum-App
                </p>
            </div>
        </div>
    <button (click)="signOut()">Выход</button>
    <div>Ваше имя пользователя: {{userName}}</div>
            </div>
        </div>    
    </div>