<div class="row">
    <div class="col-xs-12">
        <div class="col-md-10 col-md-10 col-xs-10">
<form [formGroup]="loginFirebaseAccountForm" (ngSubmit)="onSubmit(loginFirebaseAccountForm.value)">
        <!--<div [class.error]="!email.valid && email.touched">-->
            <label floating>Email address</label>
            <input type="text" name="email" value="" formControlName="email"/>
        <!--</div>-->
        <!--<div *ngIf="email.hasError('required') && email.touched" class="error-box">* Email is required.</div>
        <div *ngIf="email.hasError('pattern') && email.touched" class="error-box">* Enter a valid email address.</div>-->
        <!--<div [class.error]="!password.valid && password.touched">-->
            <label floating>Password</label>
            <input type="password" name="password" value="" formControlName="password"/>
        <!--</div>-->
        <!--<div *ngIf="password.hasError('required') && password.touched" class="error-box">* Password is required.</div>
        <div *ngIf="password.hasError('minlength') && password.touched" class="error-box">* Minimum password length is 5.</div>-->
        <br/><br/>
        <button type="submit" class="custom-button" [disabled]="!loginFirebaseAccountForm.valid" block>Sign in</button>
        <br/>
        <button (click)="register()">
            <!--<ion-icon name='flame'></ion-icon>-->
            Register a firebase account</button>
        <div padding>
            <!--<img src="assets/images/firebase.png" />-->
            <div>
                <div>
                    Built on Firebase
                </div>
                <p>
                    Create a Firebase profile for free and use your email and password to sign in to Forum-App
                </p>
            </div>
        </div>
    </form>
    <button (click)="signOut()">Выход</button>
    <div *ngIf="userName!==''">Ваше имя пользователя: {{userName}}</div>
            </div>
        </div>    
    </div>